params {

    /*
    COHORT PARAMETERS
    */
    COHORT = 'tx100'
    PANEL = 'p1'
    release = "2022-07-01_DSL2_dev" //'2022_02_11_release'

    /*
    * SPATIAL CLUSTERING CONFIG PARAMETERS
    */

    do_spatial_clustering = true
    OBJECTS = "/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/tx100/imc/outputs/cell_typing/tx100_cell_objects_tx100_publication_p1.txt" //"/camp/lab/swantonc/working/Alastair/graph_analysis/stromal_barrier/simulations/2022-03-28/from_mask/data/all_P1_TMA_REC_20190508-roi_14_BT_25_MTF_0.01_MAF_0.95_MSF_0.05_simulations.csv" // "/camp/lab/swantonc/working/Alastair/graph_analysis/stromal_barrier/simulations/2022-03-27/data/simulated_barrier_objects_2022-03-27.csv"//
    OBJECTS_DELIMITER = '\t'
    spclust_conda_env = "/camp/lab/swantonc/working/Alastair/.conda/envs/tf"
    PHENOTYPING_LEVELS = 'cellType' //'majorType,cellType'
    MAKE_SPATIAL_CLUSTER_MASKS = true
    METADATA = '/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/master_files/metadata/metadata.tracerx.txt'
    METADATA_DELIMITER = '\t'

    /*
    * GRAPH ANALYSIS CONFIG PARAMETERS
    */

    graph_type = 'nearest_neighbour' // 'nearest_neighbour' //
    neighborhood_input = "/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/tx100/imc/outputs/nextflow/p1/publication/*/results/segmentation/*/*/neighbourhood.csv"
    neighbourhood_module_no = 865
    md_cuda = "CUDA/10.1.105"
    md_conda = "Anaconda3" 
    graph_conda_env = "/camp/lab/swantonc/working/Alastair/.conda/envs/rapids-0.18"
    CALCULATE_BARRIER = true
    BARRIER_DELIMITER = ','


    /*
    * Pipeline execution parameters:
    */

    dev = true
    number_of_inputs = 4
    publish_dir_mode = 'copy'
    OVERWRITE = true
    outdir = '../../results'
    
    workflow_name = 'spatial_clustering'
}