params {

    /*
    COHORT PARAMETERS
    */
    COHORT = 'tx100'
    PANEL = 'p1'
    release = "2022-07-01_DSL2_dev" //'2022_02_11_release'
    objects_delimiter = '\t'

    /*
    * SPATIAL CLUSTERING CONFIG PARAMETERS
    */

    metadata = '/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/master_files/metadata/metadata.tracerx.txt'
    metadata_delimiter = '\t'
    objects = "/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/tx100/imc/outputs/cell_typing/tx100_cell_objects_tx100_publication_p1.txt" //"/camp/lab/swantonc/working/Alastair/graph_analysis/stromal_barrier/simulations/2022-03-28/from_mask/data/all_P1_TMA_REC_20190508-roi_14_BT_25_MTF_0.01_MAF_0.95_MSF_0.05_simulations.csv" // "/camp/lab/swantonc/working/Alastair/graph_analysis/stromal_barrier/simulations/2022-03-27/data/simulated_barrier_objects_2022-03-27.csv"//

    phenotyping_level = 'cellType' //'majorType,cellType'

    /*
    * GRAPH ANALYSIS CONFIG PARAMETERS
    */

    graph_type = 'nearest_neighbour' // 'nearest_neighbour' //
    neighborhood_input = "/camp/project/proj-tracerx-lung/tctProjects/rubicon/tracerx/tx100/imc/outputs/nextflow/p1/publication/*/results/segmentation/*/*/neighbourhood.csv"
    neighbourhood_module_no = 865
    barrier_source_cell_type = 'CD8 T cells'
    barrier_target_cell_type = 'Epithelial cells'
    barrier_cell_type = 'Myofibroblasts'
    n_neighbours = 10



    /*
    * Pipeline execution parameters:
    */

    overwrite = true
    dev = false
    number_of_inputs = 3
    outdir = '../../results'
    publish_dir_mode = 'copy'
    workflow_name = 'default'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'