params {

    /*
    COHORT PARAMETERS
    */
    COHORT = 'tx100'
    PANEL = 'p1'
    release = "release" //'2022_02_11_release'
    objects_delimiter = '\t'

    /*
    * SPATIAL CLUSTERING CONFIG PARAMETERS
    */

    metadata = false
    metadata_delimiter = '\t'
    objects = "./data/objects.txt" 
    phenotyping_column = 'cellType' //'majorType,cellType'

    /*
    * GRAPH ANALYSIS CONFIG PARAMETERS
    */

    graph_type = 'nearest_neighbour' // 'nearest_neighbour' //
    neighborhood_input = false
    neighbourhood_module_no = 865
    barrier_source_cell_type = 'CD8 T cells'
    barrier_target_cell_type = 'Epithelial cells'
    barrier_cell_type = 'Myofibroblasts'
    n_neighbours = 10


    /*
    * Pipeline execution parameters:
    */

    overwrite = true
    dev = false
    number_of_inputs = 2
    outdir = '../../results'
    publish_dir_mode = 'copy'
    workflow_name = 'default'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'